<div class="form-container">
    <h1>Ticket de Compra</h1>
    <h2>¡Muchas gracias por su compra! 😊</h2>
    <p>Código de compra: <b>{{ticket.purchaseTicket.code}}</b></p>
    <p>Fecha de Compra: <b>{{ticket.purchaseTicket.purchase_datetime}}</b></p>
    <p>Monto Total: <b>${{ticket.purchaseTicket.amount}}</b></p>
    <p>Comprador: <b>{{ticket.purchaseTicket.purchaser}}</b></p>
</div>


{{#if outStockProducts.length}}
    <div class="productContain">
        <h2>Productos sin stock:</h2>
    <ul>
        {{#each outStockProducts}}
            <li>{{this.name}} - Cantidad: {{this.quantity}}</li>
        {{/each}}
    </ul>
    </div>
{{/if}}

<h3>Volver al Perfil</h3>
<button class="btn-form" onclick="window.location.href='/api/sessions/current'">Profile</button>





{{!-- <div class="ticketContainer">
    <div>
        <h2>Informacion de la compra</h2>
    </div>

    <div class="ticketInfo">
        <h4>Purchase code: {{ticket.code}}</h4>
        <h5>Buyer: {{ticket.purchaser}}</h5>
        <p>Date time: {{ticket.purchase_datetime}}</p>
        <p>Amount: {{ticket.amount}}</p>
    </div>
</div>

<div>
    <button class="btn-form"><a href="/profile">Profile</a></button>
</div> --}}